* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  color: #333;
}

.main-img {
  height: 100px;
  width: 100px;
  margin: 25px auto;
  display: block;
  border-radius: 50%;
  border: 3px solid #333;
}

h1 {
  text-align: center;
  margin: 40px;
}
